/* Media screen para dispositivos móviles */
@media only screen and (max-width: 768px) {
    header {
      width: 90vw;
      height: 5vh;
    }
    nav {
      width: 90vw;
      height: 5vh;
    }
    .nav-1, .nav-2 {
      width: 40vw;
      height: 5vh;
    }
    .nav-2 {
      width: 60vw;
    }

    .nav-2 a{
        padding: 3px;
    }
    
    ul {
      flex-direction: row;
    }
    li {
      margin-right: 0;
    }
    
    /* Ajustes para las secciones */
    section {
      width: 90vw;
      height: auto;
    }
    .section-juego {
      height: 60vh;
    }
    .section-autor, .section-libro {
      flex-direction: column;
    }
    .imagen-autor, .imagen-libro {
      width: auto;
      height: auto;
    }
    .texto-autor, .texto-libro {
      width: auto;
      height: auto;
    }
    
    /* Ajustes para el footer */
    footer {
      height: 3vh;
    }
    .footer-1, .footer-2 {
      width: 90vw;
      height: 3vh;
    }
    
    /* Ajustes para el iframe del juego */
    iframe {
      width: 90vw;
      height: 40vh;
    }
  }
  
  /* Media screen para tablets */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
      width: 80vw;
      height: 6vh;
    }
    nav {
      width: 80vw;
      height: 6vh;
    }
    .nav-1, .nav-2 {
      width: 30vw;
    }
    .nav-2 {
      width: 70vw;
    }
    
    /* Ajustes para las secciones */
    section {
      width: 80vw;
      height: auto;
    }
    .section-juego {
      height: 70vh;
    }
    .section-autor, .section-libro {
      flex-direction: row;
    }
    .imagen-autor, .imagen-libro {
      width: 30vw;
      height: 30vh;
    }
    .texto-autor, .texto-libro {
      width: 50vw;
      height: auto;
    }
    
    /* Ajustes para el footer */
    footer {
      height: 4vh;
    }
    .footer-1, .footer-2 {
      width: 80vw;
      height: 4vh;
    }
    
    /* Ajustes para el iframe del juego */
    iframe {
      width: 80vw;
      height: 50vh;
    }
  }
  
  /* Media screen para pantallas grandes */
  @media only screen and (min-width: 1025px) {
    /* Ajustes para la navegación */
    header {
      width: 70vw;
      height: 7vh;
    }
    nav {
      width: 70vw;
      height: 7vh;
    }
    .nav-1, .nav-2 {
      width: 20vw;
    }
    .nav-2 {
      width: 80vw;
    }
    
    /* Ajustes para las secciones */
    section {
      width: 70vw;
      height: auto;
    }
    .section-juego {
      height: 80vh;
    }
    .section-autor, .section-libro {
      flex-direction: row;
    }
    .imagen-autor, .imagen-libro {
      width: 20vw;
      height: auto;
    }

    .imagen-autor {
        width: 30vw;
        height: auto;
    }

    .texto-autor, .texto-libro {
      width: 50vw;
      height: auto;
    }
    
    /* Ajustes para el footer */
    footer {
      height: 5vh;
    }
    .footer-1, .footer-2 {
      width: 70vw;
      height: 5vh;
    }
    
    /* Ajustes para el iframe del juego */
    iframe {
      width: 70vw;
      height: 60vh;
    }
  }