* {
    margin: 0;
    font-family: Tahoma;
}

img {
    padding: 0.5rem;
    max-width: 100%;
    height: 50vh;
}

.logo{
    max-width: 100%;
    height: 15vh;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #3f3f3f;
    background-image: url(sources/vaquez.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}

header{
    color: #fff;
    width: 70vw;
    height: 7vh;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background: #272625;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 2px solid white;
}

nav {
    color: #fff;
    width: 70vw;
    height: 7vh;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background: #272625;
}

.nav-1,
.nav-2 {
    color: #ddd;
    width: 15vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-2 {
    width: 85vw;
    justify-content: flex-end;
    border-left: 1px solid white;
    overflow: hidden;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

li {
    margin-right: 1.5rem;
}

.nav-2 a{
    display: block;
    padding: 20px 20px 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: none;

}

.nav-2 a:hover{
    background-color: #141414;
}

p, h2 {
    color: black;
    font-size: 1rem;
    line-height: 1.5;
}

.nav-texto {
    color: #fff;
    text-transform: none;
    font-size: 15px;
}

section {
    color: #fdc28b;
    width: 70vw;
    height: 40vh;
    display: flex;
}

.section-juego {
    display: flex;
    align-items: center;
    flex-direction: center;
    justify-content: center;
    height: 80vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-autor, .section-libro {
    background-color: #c4beb8;
    border: 2px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.botonAutor a{
    display: block;
    padding: 20px 20px 20px 20px;
    color: #000000;
    text-decoration: none;
    text-transform: none;

}

.botonAutor a:hover{
    background-color: #8d8a87;
}

.botonLibro a{
    display: block;
    padding: 20px 20px 20px 20px;
    color: #000000;
    text-decoration: none;
    text-transform: none;

}

.botonLibro a:hover{
    background-color: #8d8a87;
}

.imagen-autor, .imagen-libro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 40vh;
}

.perfil, .libro{
    padding: 0.5rem;
    max-width: 100%;
    height: auto;
    margin: 1rem;
    border: 0.5rem solid #fff;
}

.texto-autor, .texto-libro{
    margin: 1rem;
    width: 50vw;
    height: 40vh;
    display: block;
    justify-content: flex-start;
    justify-content: space-between;
    flex-direction: row;
}


footer{
    color: #ddd;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-1,
.footer-2 {
    color: #ddd;
    width: 70vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-2 {
    width: 30vw;
}

/* propiedades de juegoweb */

iframe{
    align-items: center;
    justify-content: center;
}
/* fin juegoweb*/
